.ProjectBox {
    height: 100vh;
    background-color: rgb(4, 0, 38);
    color: white;
}

.color {
    color: rgb(4, 0, 38);
    cursor: default;
}

.bigbox {
    width: 90vw;
    margin: auto;
    margin-top: 8vh;
    /* border: 2px solid whitesmoke; */
}

.my {
    font-size: 3vw;
    color: aqua;
    font-weight: bold;
}

.mypro {
    font-size: 4.5vw;
    font-weight: bold;
}

.proj {
    height: 31vh;
    /* border: 2px solid whitesmoke; */
    display: flex;
    margin-top: 4vh;
    justify-content: space-around;
}

.habbit,
.note,
.quiz,
.weather,
.techi,
.sign {
    /* border: 2px solid whitesmoke; */
    width: 27vw;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.habbit {
    background-image: url("../assets/Screenshot 2024-04-06 at 12.37.02 AM.png");
}

.note {
    background-image: url("../assets/Screenshot 2024-07-07 at 21.08.41.png");
}

.quiz {
    background-image: url("../assets/Screenshot 2024-07-07 at 21.07.31.png");
}

.weather {
    background-image: url("../assets/Screenshot 2024-07-07 at 21.30.40.png");
}

.techi {
    background-image: url("../assets/Screenshot 2024-04-06 at 12.38.43 AM.png");
}

.sign {
    background-image: url("../assets/Screenshot 2024-04-06 at 12.39.18 AM.png");
}

.habbit:hover {
    background-position: center;
    background-size: 105% 112%;
    transition: 0.5s;

}

.note:hover {
    background-position: center;
    background-size: 105% 112%;
    transition: 0.5s;
}

.quiz:hover {
    background-position: center;
    background-size: 110% 110%;
    transition: 0.5s;
}

.weather:hover {
    background-position: center;
    background-size: 109% 111%;
    transition: 0.5s;
}

.techi:hover {
    background-position: center;
    background-size: 105% 112%;
    transition: 0.5s;
}

.sign:hover {
    background-position: center;
    background-size: 105% 112%;
    transition: 0.5s;
}

.protext {
    height: 100%;
    width: 100%;
    color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.protext a {
    text-decoration: none;
}

.protext:hover {
    background-image: linear-gradient(to top, rgb(4, 72, 141), aqua, transparent, transparent);
    color: rgb(4, 0, 38);
    /* transition: 0.5s; */
}

.github {
    font-size: 3vw;
    margin-top: 6vh;
    height: 5vw;
    width: 5vw;
    background-color: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.5s;
}

.open {
    font-size: 2.2vw;
    margin-top: 6vh;
    height: 5vw;
    width: 5vw;
    background-color: transparent;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.5s;
}
@media screen and (max-width:600px) {
    .ProjectBox {
        height: 50vh;
        /* border: 2px solid whitesmoke; */
    }
    .bigbox {
        margin-top: 2vh;
        /* border: 2px solid whitesmoke; */
    }
    .proj {
        height: 15.5vh;
        margin-top: 3vh;
    }
}