*{
    scroll-behavior: smooth;
}
.HomeBox{
    background-color: black;
    height: 100vh;
    background-image: url(./assets/3357684.jpg);
    background-size: cover;
    background-position: center;
    transition: 2s;
}
.Navbar{
    position:fixed;
    width: 100%;
    color: white;
}
.info{
    color: white;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 25vh;
}
.mywork{
    margin-top: 60px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    font-weight: bold;
    background-color: transparent;
    border-color: aqua;
    color: aqua;
}
.mywork:hover{
    background-color: aqua;
    color:rgb(4, 0, 38);
}
.intro{
    font-size: 3.5vw;
    margin-bottom: 80px;
    font-weight: bolder;
}
.intro span{
    color: aqua;
}
.intro .p{
    font-size: 7vw;
}
.arrow{
    font-size: 60px;
    color: aqua;
    /* border: 2px solid rgb(255, 255, 255); */
    width: 60px;
    margin: auto;
    margin-top: 5vh;
    transition: 1s;
}
.arrow:hover{
    padding-top: 25vh;
    width: 110px;
    font-size: 100px;
    transition: 1s;
}
.About{
    background-color: rgb(4, 0, 38);
}
.linklogo{
    /* border: 2px solid rgb(255, 255, 255); */
    position: absolute;
    height: 55vh;
    width: 5vw;
    top: 23vh;
    left: 3vw;
}
.linklogo div{
    /* border: 2px solid rgb(255, 255, 255); */
    height: 5vw;
    width: 5vw;
    margin-bottom: 1.5vh;
    border-radius: 100%;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    transition: 0.2s;
}

.linklogo div:hover{
    height: 9vw;
    width: 9vw;
    font-size: 6vw;
    margin-left: -2vw;
    transition: 0.2s;
}
.linklogo a{
    text-decoration: none;
}
.linklogo a .youtube{
    color: red;
}
.linklogo a .github{
    color: rgb(0, 0, 0);
}
.linklogo a .linkedin{
    color: rgb(4, 81, 222);
}
.linklogo a .mail{
    color: rgb(96, 75, 87);
}
.linklogo a .phone{
    color: rgb(22, 166, 22);
}
.color{
    position:fixed;
    left: 96.5vw;
    top: 10vh;
    height: 40px;
    width: 250px;
    background-color: transparent;
    border: 2px solid;
    border-color: aqua;
    border-radius: 20px 0% 0% 20px;
    overflow: hidden;
    transition: 0.5s;
}
.color span i{
    margin: 5px;
    font-size: 30px;
    color: aqua;
    transition: 2s;
}
.color:hover span i{
    display: none;
    transition: 2s;
}
.ColorPicker{
    visibility: hidden;
    height: 40px;
    transition: 0.5s;
}
.color:hover{
    border-radius: 10px 0% 0% 10px;
    left: 86.5vw;
    height: 165px;
    transition: 0.5s;
}
.color:hover .ColorPicker{
    visibility: visible;
    transition: 0.5s;
}
@media screen and (max-width:600px) {
    .HomeBox{
        height: 50vh;
    }
    .info{
        padding-top: 14vh;
    }
    .mywork{
        margin-top: 30px;
        height: 25px;
    }
    .SelfIntro{
        font-size: 10px;
    }
    .intro{
        margin-bottom: 30px;
    }
    .arrow{
        font-size: 20px;
        margin-top: 2vh;
    }
    .linklogo{
        top: 15vh;
    }
}